.form-container {
  width: 100%;
}

.form-control-container {
  padding-top: 8px;
  width: 100%;
}

.form-control-input {
  padding-top: 8px;
  margin-top: 8px;
  width: 100%;
}

.attachment-card {
  width: 100%;
  max-width: 150px;
  padding: 16px;
  text-align: center;
}
